:root {
  --primary-color: #ff5555;
  --background-color: #292929;
  --text-color: #ffffff;
  --input-bg: #555555;
  --input-border: #2a2929;
  --shadow-color: rgba(0, 0, 0, 0.4);
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: Inter, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  background-color: #1f1f1f;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid #ff5555;
  z-index: 1000;
  flex-wrap: wrap;
}

.title-bar {
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #ff5555;
  --fs-size: 2em;
  
  position: relative;
  display: inline-block;
  font-size: var(--fs-size);
  font-family: "Arial", sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
  transition: -webkit-text-stroke 0.5s ease-in-out, color 0.5s ease-in-out;

}

.hover-title {
  position: absolute;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: width 0.5s ease-in-out;
  -webkit-text-stroke: 1px var(--animation-color);
}

.title-bar:hover {
  color: var(--animation-color);
  -webkit-text-stroke: 1px var(--animation-color);
}

.title-bar:hover .hover-title {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

.reset-button {
  width: 60px;
  height: 60px;
  background-color: #ff5555;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 10%;
  border: 2px solid #292929;
  transition: transform 0.2s ease;
}

.reset-button:hover {
  transform: scale(1.15);
  filter: brightness(70%)
}

.reset-button img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.dropdown-container {
  position: relative;
}

.dropdown-button {
  padding: 5px 10px;
  font-size: 22px;
  cursor: pointer;
  background-color: #ff5555;
  border: 1px solid #242323;
  border-radius: 5px;
  min-width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
}
.dropdown-button:hover {
  transform: scale(1.08);
  filter: brightness(70%)
}

.dropdown-menu {
  position: absolute;
  margin-top: 2px;
  background: #292929;
  border: 1px solid #770000;
  border-radius: 10px;
  min-width: 200px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  list-style: none;
  padding: 5px 0;
  z-index: 1000;
}

.dropdown-menu-option {
  font-size: 18px;
  padding: 10px 20px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s ease;
}

.dropdown-menu-option:hover {
  background: #aa1212;
}

.wordbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 30%;
  margin: 2px auto;
}

.wordbox {
  flex: 1;
  width: 100%;
  height: 60px;
  text-align: center;
  font-size: 24px;
  border: 2px solid #2a2929;
  background-color: #505050;
  border-radius: 4px;
}
.wordbox:focus {
  outline: none;
  border-color: #ff5555;
  box-shadow: 0 0 5px rgba(255, 85, 85, 0.8);
  caret-color: transparent;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
}

.kb-1, .kb-2, .kb-3 {
  padding: 2px 12px;
  font-size: 30px;
  border: solid white 2px;
  margin: 0.5px;
  border-radius: 3px;
}

@keyframes bounce {
  0%, 100% {transform: scale(1)}
  50% {transform: scale(1.15)}
}

.wordbox-container.win-animation .wordbox {
  animation: bounce 0.6s ease-in-out 3;
}

@keyframes shake {
  0%, 100% {transform: translate(0,0)}
  10%, 30%, 50%, 70%, 90% {transform: translate(-2px, -1px)}
  20%, 40%, 60%, 80% {transform: translate(2px, 1px)}
}

.shake {
  animation: shake 0.6s ease-in-out;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .title-bar {
    font-size: 28px;
  }
}